/.metadata/

/dubbo-consumer/.settings/*
/dubbo-service/.settings/*
/dubbo-service/.*
/dubbo-consumer/.*
/RemoteSystemsTempFiles/.project

/pinyougou-parent/.*
/pinyougou-parent/pinyougou-common/.*
/pinyougou-parent/pinyougou-dao/.*
/pinyougou-parent/pinyougou-pojo/.*

/pinyougou-parent/pinyougou-sellergoods-interface/.*
/pinyougou-parent/pinyougou-sellergoods-service/.*
/pinyougou-parent/pinyougou-manager-web/.*

/pinyougou-parent/pinyougou-shop-web/.*

/.recommenders/

/spring-security/.*
/fastdfs-demo/.*
/pinyougou-parent/pinyougou-content-interface/.*
/pinyougou-parent/pinyougou-content-service/.*
/pinyougou-parent/pinyougou-portal-web/.*
/redis-demo/.*
/solr-demo/.*
/pinyougou-parent/pinyougou-solr-util/.*
/pinyougou-parent/pinyougou-search-interface/.*
/pinyougou-parent/pinyougou-search-service/.*
/pinyougou-parent/pinyougou-search-web/.*
